/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background-image: url("");
  background-color: gray;
}

h1 {
  font-weight: bold;
  color: white;
  font-size: 75px;
  font-family: Georgia;  
  text-align: center;
  
  text-shadow: 2px 2px #ff0000;
}